.app{
    margin:20px 10px;
}

.typeOfPipe{
    padding:2px 5px;
    height: 30px;
    margin-bottom: 10px;
}

input{
    padding: 2px 20px;
    height: 30px;
    width: 200px;
}

button{
    background-color: purple;
    color: white;
    margin-left: 10px;
    padding: 2px 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: purple;
}

p{
    margin: 10px 20px;
}